@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");

html {
  overflow: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

#root > :first-child {
  flex-shrink: 0;
}

#app-main-screen,
html,
section,
#skills-items-list {
  scrollbar-width: none;
}

#app-main-screen::-webkit-scrollbar,
::-webkit-scrollbar,
section::-webkit-scrollbar,
#skills-items-list::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/** For On-Click particles in Secion 02: Records **/
particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

/** Custom animation for banner text in Section 03: Skills**/
@keyframes bannermove-main {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bannermove-sub {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

/** Custom button style in Section 03: Skills**/
.custom-skill-button {
  outline: 0;
  border: 0;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  box-shadow: -8px 0px 16px rgba(0, 0, 0, 0.25),
    8px 0px 16px rgba(0, 0, 0, 0.25), 0px 8px 4px rgba(34, 34, 34, 0.5);
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;

  border-bottom: 12px solid #9ca3af;
}
.custom-skill-button:hover {
  box-shadow: -8px 16px 32px rgba(0, 0, 0, 0.25),
    8px 16px 32px rgba(0, 0, 0, 0.25), 0px -4px 16px rgba(34, 34, 34, 0.5);
  transform: translateY(-2px);
}
.custom-skill-button:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
  border-bottom: none;
}

/* Style for react-simple-image-slider */
.rsis-parent > div {
  border-radius: 24px;
  width: 100% !important;
  height: 100% !important;
}
.rsis-parent > div > div {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.rsis-image,
.rsis-image + div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain !important;
}

/* Style for Global Fancy Cursor */
body {
  cursor: url(./resources/cursor/default.png), default;
}

a,
a *,
button,
button *,
.cursor-pointer {
  cursor: url(./resources/cursor/pointer.png), pointer;
}

.cursor-grab {
  cursor: url(./resources/cursor/grab.png), grab;
}

.cursor-open {
  cursor: url(./resources/cursor/open.png), default;
}

.cursor-closed {
  cursor: url(./resources/cursor/closed.png), pointer;
}
