@import url("https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css");
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
}

#root > :first-child {
  flex-shrink: 0;
}

#app-main-screen,
html,
section {
  scrollbar-width: none;
}

#app-main-screen::-webkit-scrollbar,
::-webkit-scrollbar,
section::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
